* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);
}

body {
  min-width: 320px;
  font-style: normal;
  font-weight: 400;
  color: #505457;
  background-color: #fff;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #505457;
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6, p, span {
  padding: 0;
  margin: 0;
}

p, span {
  display: inline-flex;
}

.container {
  margin: 0 auto;
  max-width: 144.6rem;
  width: 100%;
  padding: 0 2.3rem;

  border: 0.1rem solid #d1d1d1;
}

.btn {
  display: inline-block;
  font-weight: 600;
  font-size: 1.9rem;
  min-width: 20rem;
  height: 5.2rem;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  padding: 0 1.6rem;
  line-height: 5.2rem;
}

.btn__order {
  position: relative;
  background: #3b9dd3;
  border-radius: 1rem;

  font-weight: 600;
  letter-spacing: -0.02em;
  text-align: center;
  padding-right: 6.5rem;
}